{% extends 'base.html' %}
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>{% block title %}Home{% endblock %}</title>
</head>

{% block content %}
{% for post in post %}
<div class="sticky" >
<p>{{post.author}}</p>
<p>{{post.caption}}</p>
<img src="{{post.photo.url}}" alt="">
</div>
{% endfor %}
{% endblock %}